{% extends "base.html" %}
{% block title %}Track Complaint{% endblock %}

{% block content %}

<div class="track-wrapper">
    <div class="track-card">
        <div class="form-header">
            <i class="fa-solid fa-magnifying-glass"></i>
            <h2>Track Complaint</h2>
            <p>Enter your ticket ID to check complaint progress</p>
        </div>
        <form method="POST">
            <div class="form-group">
                <label>Ticket ID</label>
                <input type="text" name="ticket_id" placeholder="Enter your ticket ID..." required>
            </div>
            <button type="submit" class="submit-btn">Track Complaint</button>
        </form>
        {% if complaint %}
        <hr class="track-divider">
        <div class="complaint-result">
            <h3>Complaint Details</h3>
            <div class="detail-grid">
                <div>
                    <strong>Ticket ID</strong>
                    <p>{{ complaint.ticket_id }}</p>
                </div>
                <div>
                    <strong>Category</strong>
                    <p>{{ complaint.category }}</p>
                </div>
            </div>
            <div class="detail-section">
                <strong>Description</strong>
                <p>{{ complaint.description }}</p>
            </div>
            <div class="detail-section">
                <strong>Evidence</strong>
                <p>{% if complaint.evidence_file %}
                    <a href="{{ url_for('static',filename='uploads/' ~ complaint.evidence_file) }}"target="_blank">View Evidence</a>
                    {% else %}
                    —
                    {% endif %}
                </p>
            </div>
            <div class="detail-grid">
                <div>
                    <strong>Status</strong>
                    <p>
                        {% if complaint.status=="Resolved" %}
                        <span class="badge resolved">
                            Resolved
                        </span>
                        {% elif complaint.status=="In Progress" %}
                        <span class="badge progress">
                            In Progress
                        </span>
                        {% else %}
                        <span class="badge pending">
                            Pending
                        </span>
                        {% endif %}
                    </p>
                </div>
                <div>
                    <strong>Date Submitted</strong>
                    <p>{{ complaint.created_at.strftime('%d %b %Y, %I:%M %p') }}</p>
                </div>
            </div>
            {% if complaint.admin_reply %}

<div class="alert alert-info mt-3">
    <strong>Admin Reply:</strong><br>
    {{ complaint.admin_reply }}
</div>

{% endif %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}